# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
out/
.next/
target/

# Environment
.env
.env.local
.env.*.local

# Blockchain
artifacts/
cache/
typechain-types/
deployments/localhost/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Misc
*.log
coverage/
